/* General body style of the page */

/* Color palette */

.dark {
    color: #0a0a0a;
}

.dark-accent {
    color: #214ed3;
}

.light-accent {
    color: #EFF3FF;
}

.light {
    color: #ffffff;
}

.purple {
    color: #3C50FF;
}

.dark-purple {
    color: #1965e0;
}

/* Body properties */

body {
    font-family: 'Lato regular' !important;
    font-style: normal;
    background-color: #ffffff;
    color: #0a0a0a !important;
    position: relative;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f071b7a;
}

/* Fixed position of navbar */
.navbar {
    position: relative;
    z-index: 15;
}

/* Avoids copying text from website */
.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Fonts */

@font-face {
    font-family: 'Lato light';
    src: url(/Assets/__fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato regular';
    src: url(/Assets/__fonts/Lato/Lato-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Lato bold';
    src: url(/Assets/__fonts/Lato/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url(/Assets/__fonts/BebasNeue-Regular.ttf);
    font-weight: 400;
}

.source-pro {
    font-family: 'Lato bold';
    /* Font for Headers */
}

.bebas-nue {
    font-family: 'Bebas Neue', cursive;
    /* Font for sections call outs */
}

/* Icons */

.material-icons {
    color: #f1f1f1;
}

/* Spacing */

/* Main Container */
.container-padding {
    padding-top: 10%;
    padding-bottom: 10%;
}

.tools-padding {
    padding-top: 4%;
    padding-bottom: 6%;
}

.home-padding {
    padding-top: 6%;
    padding-bottom: 4%;
}

/* Logos Section Padding */
.logo-padding {
    padding-top: 4%;
    padding-bottom: 1%;
}

/* Testimonial Padding */
.special-padding {
    padding-top: 0%;
    padding-bottom: 10%;
}

/* Fluid Wider Container */
.container-fluid {
    padding-left: 5%;
    padding-right: 5% !important;
}

.container-about {
    padding-left: 6%;
    padding-right: 6% !important;
}

.contact-padding {
    padding-bottom: 5%;
    padding-top: 5% !important;
}

/* Items below text spacing */
.text-space {
    padding-bottom: 5% !important;
}

/* Section Dividers */

/* Light Divider */
.accent-div {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #EFF3FF;
    color: #0a0a0a;
}

/* Dark Divider */
.black-div {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #3C50FF;
    color: #f1f1f1;
    background-color: #0a0a0a;
}

/* Purple Divider */
.purple-div {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #3C50FF;
    color: #f1f1f1;
}

/* Dark purple Divider */

.dark-purple-div {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #3C50FF;
    color: #f1f1f1;
}

/* Footer Divider */
.div-footer {
    padding-bottom: 3%;
    padding-top: 6%;
    background-color: black;
    color: #f1f1f1;
}

/* Paddings */

/* Padding between top and bottom of each section */
.section-padding {
    padding-bottom: 10%;
    padding-top: 10%;
}

.div-space {
    padding-bottom: 6%;
    padding-top: 8%;
}

.image-container {
    padding-top: 2px;
    /* Adjust the desired top padding */
    padding-bottom: 2%;
    /* Adjust the desired bottom padding */
    overflow: hidden;
}

.skills-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.045);
    border-radius: 25px;
}

.about-image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.skills-padding {
    padding-top: 4%;
    padding-bottom: 2%;
}

.collab-padding {
    padding-top: 0%;
    padding-bottom: 2%;
}

/* Background Images */

.about-me {
    background: url(/Assets/__icons/eu_icon_pack_about_me.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-attachment: absolute;
    background-position: 0% 0%;
    z-index: -1;
}

.mouse {
    background: url(/Assets/__icons/eu_icon_mouse.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-attachment: absolute;
    background-position: 0% 0%;
    z-index: -1;
}

.blue {
    background: url(/Assets/__icons/eu_icon_paper_planes.svg);
    background-color: #3C50FF;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: auto;
    background-attachment: fixed;
    background-position: 100% 70%;
    z-index: -1;
}

/* Image properties

.img {
    width: 100%;
    height: 140px;
}
*/

/* Text Styles */

/* Bebas Nue Section Small Text */
.section-text {
    font-family: 'Bebas Neue', cursive;
    color: #1965e0 !important;
    font-size: 30px;
    font-weight: 600;
}

.p-text {
    max-width: 55%;
    padding-bottom: 4px;
    line-height: 1.4;
}

/* Contact me section */
.contact-text {
    color: white;
    text-decoration: none;
    padding-bottom: 1%;
    font-weight: 600;
}

/* About me text style*/
.description {
    color: #3C50FF !important;
}

/* Logo Section  Text */
.logo-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.elisha {
    font-size: 90px;
    font-weight: 600;
    color: #3C50FF !important;
    font-family: 'Lato bold';
}

/* Big Javascript Text */

.elisha-2 {
    font-size: 50px;
    font-weight: 600;
    color: #3C50FF !important;
    font-family: 'Lato', sans-serif;
}

/* Highlighted Purple Bold Text */
.description {
    color: #EFF3FF;
    font-weight: bold;
}

/* Footer */
.footer-text {
    font-weight: 600;
    padding-bottom: 2%;
}

.text-space {
    padding-bottom: 3%;
}

.center {
    margin: auto;
    width: 50%;
    border: transparent;
    padding: 10px;
    text-align: center;
}

.fade-in-element {
    animation: fade-in 1.4s;
}

.b {
    border-style: solid !important;
    border-color: #3C50FF !important;
}

.align {
    vertical-align: bottom;
}



/* Background Properties */

.bg-dark {
    background-color: #0a0a0a;
    color: #ffffff;
}

.bg-dark-accent {
    background-color: #214ed3;
    color: #ffffff;
}

.bg-light-accent {
    background-color: #EFF3FF;
    color: #0a0a0a;
}

.bg-light {
    background-color: #ffffff;
    color: #0a0a0a;
}

.bg-purple {
    background-color: #3C50FF;
    color: #ffffff;
}

.bg-dark-purple {
    background-color: #1965e0;
    color: #ffffff;
}

/* Card Properties */

/* Animated on hover cards */
.card {
    border-style: none !important;
    border: #0a0a0a;
    border-width: 1px;
    margin: 10px 4px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015);
    color: #0a0a0a !important;
    height: 100% !important;
}

.about-card {
    border-style: none !important;
    border: #0a0a0a;
    background-color: #3a5bbc;
    border-width: 1px;
    margin: 10px 4px;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.035);
    color: #0a0a0a !important;
    height: 100% !important;
}

.about-container {
    padding-left: 10%;
}

/* Cards on the about page */
.card-s {
    border-radius: 10px;
}

.card-body {
    text-align: center;
}

.rounded-start {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Align card right on desktop view*/

.img-right {
    text-align: right;
}

/* Numbered circles on cards */
.circle {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #3C50FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 100;
}

.overlay-image {
    position: absolute;
    top: -45px;
    left: 98%;
    transform: translateX(-50%);
}

.overlay-image img {
    width: 100px;
    /* Adjust the width of the overlay image */
    height: auto;
}

.card-img-values {
    width: 60px;
    height: auto;
}

.card-title {
    color: #0a0a0a !important;
    padding-top: 0px !important;
}

.card-text {
    color: #0a0a0a !important;
    padding-bottom: 2%;
    font-weight: normal !important;
}

.card-img-top {
    padding-top: 18%;
    padding-bottom: 4%;
}

.card-img {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-style: none !important;
    border-width: 1px !important;
    border: #0a0a0a;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: left;
}

.card-img-profile {
    object-fit: cover;
    border-style: none !important;
    border-width: 1px !important;
    border: #0a0a0a;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

/* No border cards */
.card-block {
    padding: 10px;
}

/* No border cards */
.card-l {
    border: none;
}

/* Small cards with specfic height*/
.card-x {
    padding: 2%;
    border-style: solid;
    background-color: none;
    height: auto;
    border: none;
    border-width: 2px;
    border-color: #3b4deb !important;
    min-height: 150px;
    text-align: center;
}

/* Dark cards with specfic height*/
.card-s {
    padding: 2%;
    border-style: none;
    background-color: #bbcff927;
    height: auto;
    border-width: 2px;
    min-height: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.09) !important;
}

.card-sidebar {
    background-color: #bbcff943;
    height: auto;
    border-width: 2px;
    min-height: 150px;
    text-align: left;
    color: #0a0a0a !important;
    border-radius: 10px;
}

.card-sidebar:hover {
    transform: none !important;
}

/* Full sized image within cards*/
.card-img-top {
    width: 100%;
    object-fit: cover;
    border-radius: 15px !important;
}

/* Sized down image within cards*/
.card-img-t {
    width: 60%;
    object-fit: cover;
    align-self: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Size of card within the carousel*/
.card-carousel {
    size: 200px !important;
}

/* Cards paddings */
.card-pt {
    padding-top: 4%;
    background-color: none;
    height: auto;
    border-width: 2px;
    min-height: 150px;
    text-align: left;
    color: #0a0a0a !important;
    border-radius: 10px;
    transition: .6s ease;
}

.card-pt:hover {
    transform: scale(1.02);
}

.card-footer {
    padding-left: 0%;
}

.card-title {
    font-weight: 500;
    padding-top: 12%;
    font-size: 25px;
    color: #f1f1f1;
    justify-self: left;
}

.card-textd {
    font-size: 20px;
    padding-top: 2%;
    font-weight: 300;
    color: black;
}

.card-text {
    font-size: 20px;
    padding-top: 2%;
    font-weight: 300;
    color: #f1f1f1;
}

/* Button Properties */

/* Button with outline normal state */
.btn-outline-primary:active {
    background-color: #fff !important;
    color: #3C50FF !important;
    border-color: #3C50FF !important;
    border-radius: 35px;
}

/* Button with outline hover state */
.btn-outline-primary:hover {
    background-color: #3C50FF !important;
    border-color: #3C50FF !important;
    border-radius: 35px;
}

/* Button with outline general properties */
.btn-primary-outline {
    background-color: none !important;
    color: #0b0b0be0 !important;
    border-color: #3C50FF !important;
    border-radius: 45px;
    border-width: 2px;
    font-size: 40px;
    width: fit-content;
    padding: 5px 40px;
}

/* Dark button */
.btn-sm {
    color: black;
    border-radius: 35px;
}

/* Navbar button properties */
.btn-nav {
    border-color: #3C50FF !important;
    border-width: 2px;
    border-radius: 35px;
    width: 110px;
}


.btn-nav:hover {
    background-color: #3C50FF;
    color: white !important;
}

/* Primary/General button properties */
.btn-primary {
    background-color: #3C50FF;
    border-color: #3C50FF !important;
    border-radius: 35px;
}

.btn-primary:hover {
    background-color: #3b4deb;
    border-color: #3b4deb !important;
}

/* Small button properties */
.btn-primary-s {
    background-color: #ffffff !important;
    color: #000;
    border-radius: 30px;
}

.btn-primary-s:hover {
    color: #3b4deb !important;
    background-color: none !important;
}

/* Call to Action button properties */
.btn-primary-cta {
    background-color: #ffffff !important;
    color: #000;
    border-color: #000000 !important;
    border-radius: 30px;
}

.btn-primary-cta:hover {
    color: #ffffff;
    background-color: #0a0a0a !important;
}

.btn-primary-cta:focus {
    background-color: #ffffff !important;
    color: #000;
    border-color: #000000 !important;
    border-radius: 30px;
}

/* Purple outlined button properties */
.btn-outline-secondary {
    border-radius: 35px !important;
}

.btn-outline-secondary:hover {
    color: white;
    border-color: #3b4deb;
    background-color: #3b4deb !important;
}

/* Light outlined button properties */
.btn-outline-white {
    border-color: white;
    color: white;
    border-radius: 35px !important;
}

.btn-outline-white:hover {
    border-color: white;
    color: #3b4deb;
    background-color: white;
}

/* Round button to scroll to top properties */
.btn-primary-round {
    background-color: #0f071b7a;
    border-color: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

/* CTA button gap */
.button-container {
    display: flex;
    justify-content: auto;
}

.button-container button {
    margin: 0 20px;
    /* Adjust the margin value to increase or decrease the gap */
}

/* Nav properties */

/* Makes items text color black in navbar */
.nav-link {
    color: black;
    margin-right: 20px !important;
}

/* Makes items text color purple on hover in navbar */
.nav-link:hover {
    color: #3C50FF;
}

/* Makes navbar background color purple */
.nav {
    background-color: #f1f1f1;
}

/* Makes navbar background color purple */
.active {
    color: #3C50FF !important;
}

/* Scroll up button position in website property */
#topRightFixed {
    position: fixed;
    top: 90%;
    left: 95%;
    padding: 0px;
}

/* Hover animation properties */

.obj {
    transition: transform 250ms;
}

.obj:hover {
    transform: translateY(-10px);
}

@media (min-width: 1680px) {
    .img-fluid {
        width: 9250000px !important;
    }

    .asset-home-screen {
        padding-bottom: 10% !important;
        padding-top: 5% !important;
        padding-right: 8%;
    }

    .h-70- {
        height: 100% !important;
    }

    .card-img-t {
        width: 100%;
        object-fit: cover;
        align-self: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .img-h {
        height: 155px;
        min-height: 70px;
    }
}

/*Responsive adjustments for mobile view*/
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {

    .image-container {
        padding-top: 2px;
        /* Adjust the desired top padding */
        padding-bottom: 2px;
        /* Adjust the desired bottom padding */
        overflow: hidden;
    }

    .section-text {
        font-family: 'Bebas Neue', cursive;
        color: #1965e0 !important;
        font-size: 30px;
        font-weight: 400 !important;
    }

    /* Smallen the card size in mobile view*/
    .skills-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    /* Smallen the font size in mobile view*/
    .elisha {
        font-size: 40px;
    }

    /*Adds a top padding for mobile view*/
    .about-container {
        padding: 10% 10% 0% 10%;
    }

    /* Adds additional padding when in mobile view */
    .home-screen {
        padding-bottom: 10% !important;
        padding-top: 10% !important;
    }

    .contact-screen {
        padding-bottom: 20% !important;
        padding-top: 30% !important;
    }

    .experience-text {
        max-width: 100% !important;
        padding-bottom: 4% !important;
        font-weight: 400 !important;
    }

    /* Widens the container space in mobile view */
    .container-fluid {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }

    .home-screen-button {
        padding-top: 6% !important;
    }

    /* hides the jump to top button */
    #topRightFixed {
        visibility: hidden !important;
    }

    /* hides the scrollbar in mobile view*/
    html,
    body {
        overflow-x: hidden;
        overflow-y: scroll !important;
    }

    /* Makes marquee text font size bigger */
    .marquee_text {
        font-size: 40px !important;
    }

    .div-space {
        padding-bottom: 15%;
        padding-top: 15%;
    }

    .text-space {
        padding-bottom: 10% !important;
    }

    .x-space {
        justify-content: baseline;
    }

    .testimony-29101 {
        margin-right: 40px !important;
    }

    .owl-1 .owl-dots {
        position: absolute;
        bottom: -30px !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .col-footer {
        flex: 0 0 auto;
        min-width: 50% !important;
        padding-bottom: 5% !important;
    }

    .col-contact {
        flex: 0 0 auto;
        min-width: 100% !important;
        padding-bottom: 5% !important;
    }

    .col-text-footer {
        flex: 0 0 auto;
        min-width: 100% !important;
        padding-right: 0px !important;
        padding-bottom: 5% !important;
    }

    .h-70 {
        height: 100% !important;
    }

    .mouse {
        background: url(/Assets/__icons/eu_icon_mouse.svg);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-attachment: absolute;
        background-position: 0% 0%;
        z-index: -1;
    }

    .blue {
        background-image: none;
    }

    .p-text {
        max-width: 100% !important;
    }

    .checkmark {
        height: 10em !important;
        padding-bottom: 6% !important;
    }

    .card-title {
        font-weight: 500;
        padding-top: 4%;
        font-size: 25px;
        color: #f1f1f1;
        justify-self: left;
    }

    /* adjusts space between CTA buttons*/
    .button-container button {
        margin: 0 12px;
        /* Adjust the margin value to increase or decrease the gap */
    }

    /* Adds more space between dividers on smaller screen*/
    .logo-padding {
        padding-top: 10%;
        padding-bottom: 6%;
    }

    /* adjusts button style in the navbar dropdown */
    .btn-nav {
        color: black !important;
        border: none;
        align-self: self-start;
        width: auto;
    }

    .navbar-nav {
        padding: 15px 0px 0px !important;
    }

    /* Adds bottom padding to card images of work section when in mobile view*/
    .mob-img {
        padding-bottom: 25px;
    }

    blockquote.testimony-29101 p {
        font-size: 20px !important;
    }

    blockquote.testimony-29101 .author {
        font-size: 16px !important;
    }

    .card-img-profile {
        max-width: 300px !important;
        max-height: 350px !important;
    }

    .card-img {
        width: 100%;
    }

    .img-right {
        text-align: center !important;
    }

    .card-img-top {
        padding-top: 12%;
        padding-bottom: 2%;
    }

    .marquee_icon {
        font-size: 30px;
        display: flex;
        margin: 7px 0px 10px 0px !important;
        padding: 0px 15px 0px 15px !important;
    }

    .contact-padding {
        padding-bottom: 12% !important;
        padding-top: 12% !important;
    }

    .div-footer {
        padding-top: 12% !important;
    }

    .special-padding {
        padding-top: 0%;
        padding-bottom: 20%;
    }

    .container-padding {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

/* Footer properties */

.col-footer {
    flex: 0 0 auto;
    width: 35%;
}

.col-text-footer {
    flex: 0 0 auto;
    width: 70%;
    padding-right: 300px;
}

.col-contact {
    color: #ffffff;
    flex: 0 0 auto;
    max-width: 48% !important;
    padding-bottom: 5% !important;
}

/*CSS Properties for ipad responsive view*/
@media only screen and (min-device-width: 820px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {

    .elisha {
        font-size: 55px;
    }

    .img-right {
        text-align: right;
    }

    .section-text {
        font-family: 'Bebas Neue', cursive;
        color: #1965e0 !important;
        font-size: 30px;
        font-weight: 400 !important;
    }

    .asset-home-screen {
        padding-bottom: 10%;
        padding-top: 100%;
    }

    .div-space {
        padding-bottom: 5% !important;
        padding-top: 5% !important;
    }

    .p-text {
        max-width: 55%;
        padding-bottom: 4px;
        line-height: 1.4;
    }

    .card-title {
        font-weight: 500;
        padding-top: 12%;
        font-size: 25px;
        color: #f1f1f1;
        justify-self: left;
    }

    .col-text-footer {
        flex: 0 0 auto;
        width: 65%;
        padding-right: 120px;
    }

    .text-container {
        max-width: 80%;
    }

    .about-img {
        height: auto;
        width: 100%;
    }

    .about-container {
        padding: 0% 0% 0% 10%;
    }

    .card-img {
        width: 100%;
    }

    .card-img-top {
        padding-top: 18%;
        padding-bottom: 4%;
    }

    .marquee_icon {
        font-size: 30px;
        display: flex;
        margin: 8px 0px 10px 0px !important;
        padding: 0px 15px 0px 15px !important;
    }
}

@media only screen and (min-device-width: 1280px) {
    .p-text {
        max-width: 45%;
        padding-bottom: 4px;
        line-height: 1.4;
    }
}

/*Padding properties of first section of the website*/
.home-screen {
    padding-bottom: 10%;
    padding-top: 12%;
    min-width: 500px;
}

.experience-text {
    max-width: 75%;
    padding-bottom: 2%;
    font-weight: 400;
}

.container-carousel {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}



.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.owl-1 .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

@media (max-width: 991.98px) {
    .owl-1 .owl-nav {
        display: none;
    }
}

.owl-1 .owl-nav .owl-next,
.owl-1 .owl-nav .owl-prev {
    border: 1px solid red;
    z-index: 92;
    position: absolute;
    top: 10%;
    opacity: .5;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.owl-1 .owl-nav .owl-next:active,
.owl-1 .owl-nav .owl-next:focus,
.owl-1 .owl-nav .owl-prev:active,
.owl-1 .owl-nav .owl-prev:focus {
    outline: none;
}

.owl-1 .owl-nav .owl-next:hover,
.owl-1 .owl-nav .owl-prev:hover {
    opacity: 1;
}

.owl-1 .owl-nav .owl-next span,
.owl-1 .owl-nav .owl-prev span {
    color: rgb(0, 0, 0);
}

.owl-1 .owl-nav .owl-next span:before,
.owl-1 .owl-nav .owl-prev span:before {
    font-size: 40px !important;
}

.owl-1 .owl-nav .owl-next {
    border: 4px solid blue;
    right: 20px;
}

.owl-1 .owl-nav .owl-prev {
    left: 20px;
}

.owl-1 .owl-dots {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.owl-1 .owl-dots .owl-dot {
    background: none;
    display: inline-block;
}

.owl-1 .owl-dots .owl-dot>span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(27, 25, 25, 0.5);
    margin: 4px;
}

.owl-1 .owl-dots .owl-dot.active>span {
    background: #214ed3;
}

.owl-1 .owl-dots .owl-dot:active,
.owl-1 .owl-dots .owl-dot:focus {
    outline: none;
}

blockquote.testimony-29101 {
    max-width: 100%;
    margin: 0 0;
    margin-left: 5%;
    margin-right: 5%;
}

blockquote.testimony-29101 p {
    font-size: 24px;
    font-family: 'Lato regular' !important;
    color: rgb(2, 2, 2);
    line-height: 1.5;
}

blockquote.testimony-29101 .author {
    font-size: 14px;
}

blockquote.testimony-29101 .author cite {
    color: rgb(58, 55, 55);
}

/* Top padding of "work with me" button on home page*/
.home-screen-button {
    padding-top: 3%;
}

/* Marquee effect properties*/

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 2px;
    white-space: nowrap;
    align-items: center;
    --move-initial: calc(-41% + var(--offset));
    --move-final: calc(-49% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    height: auto;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 15s linear infinite alternate-reverse;
    font-family: 'Bebas Neue', cursive;
    background-color: #3C50FF;
    color: white;
}

.marquee span {
    padding: 0 0vw;
}

.marquee_text {
    padding-top: 7px;
    font-size: 50px;
}

.marquee_icon {
    font-size: 30px;
    display: flex;
    margin: 12px 0px 10px 0px;
    padding: 0px 15px 0px 15px !important;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

/* Divider line for portfolio items*/
.full-width-hr {
    width: 100%;
    height: 2px;
    background-color: #000000;
    /* Set your desired color */
    border: none;
    margin: 10px 0;
    /* Adjust margin as needed */
}

.logo-img {
    max-height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

/* Responsive Page Elements */
@media only screen and (min-width: 1200px) and (min-width: 768px) {
    .top {
        padding-top: 8rem;
    }

    .m {
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .top {
        padding-top: 3rem;
    }

    .m {
        text-align: center;
        padding-left: 5rem;
    }
}

.card {
    margin-bottom: 20px;
}

/* Removes underline and purple color from link*/
.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: none;
    color: #3C50FF;
}


@media (max-width: 575.98px) {
    .card-deck .card {
        margin-top: 30px;
    }
}

@media (min-width: 1231px) {
    .container-fluid {
        padding-left: 10%;
        padding-right: 10% !important;
        /* Set your different container width for screens above 1230px */
    }

    .circle {
        width: 65px;
        height: 65px;
        font-size: 40px;
    }


    .card-img {
        max-width: 800px !important;
    }
}