:root {
    --dark: #0a0a0a;
    --accent: #F06553;
    --light: #ffffff;
    --purple: #214ED3;
    --accent2: #731bf6e0;

}

body {
    font-family: 'Lato', serif !important;
    font-style: normal;
    font-weight: 500;
    background-color: #ffffff;
    color: #0a0a0a !important;
}

.material-icons {
    color: #f1f1f1;
}

.container-padding {
    padding-left: 9%;
    padding-right: 9%;
}

.black-div {
    padding-left: 9%;
    padding-right: 9%;
    background-color: #1965e0;
    color: #f1f1f1;
    background-color: black;
    color: #f1f1f1;
}

.black-div {
    padding-left: 9%;
    padding-right: 9%;

}

.div-space {
    padding-bottom: 6%;
    padding-top: 8%;
}

.space-div {
    padding-bottom: 10%;
    padding-top: 10%;
}

.div-footer {
    padding-bottom: 3%;
    padding-top: 6%;
    background-color: black;
    color: #f1f1f1;
}

.blue {
    background-color: var(--purple) !important;
    color: #3c50ff;
}

.minion {
    font-family: minionpro-condensed-caption, serif;
    font-style: normal;
    font-weight: 500;
}

.mbold {
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 700;
}

@media only screen and (min-width: 1200px) and (min-width: 768px) {
    .top {
        padding-top: 8rem;
    }

    .m {
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .top {
        padding-top: 3rem;
    }

    .m {
        text-align: center;
        padding-left: 5rem;
    }
}

.elisha {
    font-size: 90px;
    font-weight: 600;
    color: #3c50ff !important;
    font-family: 'Lato', sans-serif;
}

#button {
    background-color: #3c50ff !important;
    border: 50px !important;
}

.card {
    border: none;
}

.card-x {
    padding: 2%;
    border-style: none;
    background-color: transparent;
    height: auto;
    min-height: 150px;
}

.description {
    color: #1965e0;
    font-weight: bold;
}

.text-space {
    padding-bottom: 3%;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    border-radius: 15px !important;
}

.card-carousel {
    size: 200px !important;
}

.card-body {
    border: none;

}

.center {
    margin: auto;
    width: 50%;
    border: transparent;
    padding: 10px;
    text-align: center;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.hidden {
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.7, .7)
    }

    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fade-in 1.4s;
}

.b {
    border-style: solid !important;
    border-color: #3c50ff !important;
}

.align {
    vertical-align: bottom;
}

.card-footer {
    padding-left: 0%;
}

.card-title {
    font-weight: 500;
    font-size: 30px;
    color: white;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.card-l {
    border: none;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 13px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 13px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 13px;
}

.btn-outline-primary:active {
    background-color: #fff !important;
    color: #3c50ff !important;
    border-color: #3c50ff !important;
    border-radius: 35px;
}

.btn-outline-primary:hover {
    background-color: #1965e0 !important;
    border-color: #1965e0 !important;
    border-radius: 35px;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5% !important;
}

.nav-link {
    color: black !important;
    margin-right: 20px !important;
}

.nav-link:hover {
    color: #1965e0 !important;
}

.navbar {
    background-color: white !important;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.031);
    /*-webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;*/
}

.btn-sm {
    color: black;
    border-radius: 35px;
}

.active {
    color: #3c50ff !important;
}

ion-icon {
    color: #1965e0;
}


/*hover play button*/

.itemsContainer {
    background: white;
    float: left;
    position: relative;
    width: auto;
    height: auto;
    margin-right: auto;
}

.itemsContainer:hover .play {
    display: block;
}

.play {
    position: absolute;
    display: none;
    top: 40%;
    width: 40px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
    opacity: 0.9;
}

.scrolling-active {
    background-color: #f1f1f1;
}

#topRightFixed {
    position: fixed;
    top: 90%;
    left: 95%;
    padding: 0px;
}

.btn-primary-round {
    background-color: #0f071b7a;
    border-color: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.carousel-control-prev {
    background-color: #0f071b7a;
    border-color: none;
    border-radius: 100%;
    height: auto;
    width: auto;
    align-self: center;
}

.btn-nav {
    background-color: transparent !important;
    color: black !important;
    border-color: #3c50ff !important;
    border-width: 2px;
    border-radius: 35px;
    width: 110px;
    padding-left: 100px;
    padding-right: 100px;
}

.btn-nav:hover {
    background-color: #3c50ff !important;
    border-color: #3c50ff !important;
    color: white !important;
}

.btn-primary {
    background-color: #3c50ff;
    border-color: #3c50ff !important;
    border-radius: 35px;
}

.btn-primary-s {
    background-color: #f0655300 !important;
    border-color: #f0655300 !important;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #3b4deb;
    border-color: #3b4deb !important;
}

.btn-primary-s:hover {
    color: #3b4deb;
}

.demo {
    background-color: #fff;
    background-image: radial-gradient(circle, #a6a6a605 20%, transparent 10%), radial-gradient(circle, #a6a6a620 20%, transparent 10%);
    background-size: 8px 8px;
    background-position: 0 0, 100px 100px;
}

.gradient {
    background: rgb(102, 0, 255);
    background: linear-gradient(180deg, rgba(102, 0, 255, 1) 36%, rgba(178, 129, 253, 1) 65%, rgba(251, 251, 251, 1) 88%);
}

.material-icons.md-dark {
    color: rgb(0, 0, 0);
    vertical-align: middle;
}

.material-icons.md-dark:hover {
    color: #3b4deb;
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.obj {
    transition: transform 250ms;
}

.obj:hover {
    transform: translateY(-10px);
}

.btn-outline-secondary {
    border-radius: 35px !important;
}

.btn-outline-secondary:hover {
    color: white;
    border-color: #3b4deb;
    background-color: #3b4deb !important;
}

.btn-outline-white {
    border-color: white;
    color: white;
    border-radius: 35px !important;
}

.btn-outline-white:hover {
    border-color: white;
    color: #3b4deb;
    background-color: white;
}

.xl {
    width: 130px;
    height: 42px;
}

.col-5-form {
    flex: 0 0 auto;
    width: 41.66666667%;
}

@media (min-width: 1680px) {
    .img-fluid {
        width: 9250000px !important;
    }

    .asset-home-screen {
        padding-bottom: 10% !important;
        padding-top: 5% !important;
        padding-right: 8%;
    }
}

/*Responsive adjustments for mobile view*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .elisha {
        font-size: 55px;
    }

    .home-screen {
        padding-bottom: 10% !important;
        padding-top: 50% !important;
    }

    .contact-screen {
        padding-bottom: 20% !important;
        padding-top: 30% !important;
    }

    .experience-text {
        max-width: 100% !important;
        padding-bottom: 4% !important;
        font-weight: 400 !important;
    }

    .container-fluid {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }

    .home-screen-button {
        padding-top: 6% !important;
    }

    #topRightFixed {
        visibility: hidden !important;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .asset-home-screen {
        padding-bottom: 20% !important;
        padding-top: 6% !important;
    }

    .marquee_text {
        font-size: 40px !important;
    }

    .div-space {
        padding-bottom: 25%;
        padding-top: 30%;
    }

    .text-space {
        padding-bottom: 10% !important;
    }

    .mywork-space {
        padding-top: 16%;
        padding-bottom: 16%;
    }

    .x-space {
        justify-content: baseline;
    }

    .testimony-29101 {
        margin-right: 40px !important;
    }

    .owl-1 .owl-dots {
        position: absolute;
        bottom: -30px !important;
        left: 42% !important;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .col-5-form {
        flex: 0 0 auto;
        width: 100%;
        padding-top: 5% !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .elisha {
        font-size: 55px;
    }

    .asset-home-screen {
        padding-bottom: 10%;
        padding-top: 100%;
    }
}

.home-screen {
    padding-bottom: 10%;
    padding-top: 20%;
    min-width: 500px;
}

.img-size {
    width: 550px;
}

.experience-text {
    max-width: 75%;
    padding-bottom: 2%;
    font-weight: 400;
}

.mywork-space {
    padding-top: 10%;
    padding-bottom: 10%;
}

.container-carousel {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}


.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.owl-1 .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

@media (max-width: 991.98px) {
    .owl-1 .owl-nav {
        display: none;
    }
}

.owl-1 .owl-nav .owl-next,
.owl-1 .owl-nav .owl-prev {
    border: 1px solid red;
    z-index: 92;
    position: absolute;
    top: 10%;
    opacity: .5;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.owl-1 .owl-nav .owl-next:active,
.owl-1 .owl-nav .owl-next:focus,
.owl-1 .owl-nav .owl-prev:active,
.owl-1 .owl-nav .owl-prev:focus {
    outline: none;
}

.owl-1 .owl-nav .owl-next:hover,
.owl-1 .owl-nav .owl-prev:hover {
    opacity: 1;
}

.owl-1 .owl-nav .owl-next span,
.owl-1 .owl-nav .owl-prev span {
    color: rgb(0, 0, 0);
}

.owl-1 .owl-nav .owl-next span:before,
.owl-1 .owl-nav .owl-prev span:before {
    font-size: 40px !important;
}

.owl-1 .owl-nav .owl-next {
    border: 4px solid blue;
    right: 20px;
}

.owl-1 .owl-nav .owl-prev {
    left: 20px;
}

.owl-1 .owl-dots {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.owl-1 .owl-dots .owl-dot {
    background: none;
    display: inline-block;
}

.owl-1 .owl-dots .owl-dot>span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(27, 25, 25, 0.5);
    margin: 4px;
}

.owl-1 .owl-dots .owl-dot.active>span {
    background: #3c50ff;
}

.owl-1 .owl-dots .owl-dot:active,
.owl-1 .owl-dots .owl-dot:focus {
    outline: none;
}

blockquote.testimony-29101 {
    max-width: 899px;
    margin: 0 0;
    margin-left: 5%;
    margin-right: 5%;

}

blockquote.testimony-29101 p {
    font-size: 24px;
    font-family: 'Lato', serif !important;
    color: rgb(2, 2, 2);
    line-height: 1.5;
}

blockquote.testimony-29101 .author {
    font-size: 14px;
}

blockquote.testimony-29101 .author cite {
    color: rgb(58, 55, 55);
}

.home-screen-button {
    padding-top: 3%;
}

.asset-home-screen {
    padding-bottom: 10%;
    padding-top: 6%;
}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 2px;
    white-space: nowrap;
    align-items: center;
    --move-initial: calc(-41% + var(--offset));
    --move-final: calc(-49% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 20s linear infinite alternate-reverse;
    font-family: 'Bebas Neue', cursive;
    background-color: #1965e0;
    color: white;
}

.marquee span {
    padding: 0 0vw;
}

.marquee_text {
    font-size: 70px;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.review {
    padding-top: 5%;
}

.col-7 {
    min-width: 400px;
}

.review-asset {
    max-width: 500px !important;
    min-width: 300px !important;
}

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.contact-text {
    color: white;
    text-decoration: none;
    padding-bottom: 1%;
    font-weight: 600;
}

/*.contact-text:hover {
    color: #1965e0;
}*/

.footer-text {
    font-weight: 600;
    padding-bottom: 2%;
}

.contact-icons {
    padding-top: 10%;
    width: 150px;
}

.arrow {
    font-size: 150px;
    display: inline;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.contact-screen {
    padding-bottom: 10%;
    padding-top: 15%;
    min-width: 500px;
}