:root {
    --dark: #0a0a0a;
    --accent: #F06553;
    --light: #ffffff;
    --purple: #214ED3;
    --accent2: #731bf6e0;

}

body {
    font-family: 'Lato', serif !important;
    font-style: normal;
    font-weight: 500;
    background-color: #ffffff;
    color: #0a0a0a !important;
}

.material-icons {
    color: #f1f1f1;
}

.container-padding {
    padding-left: 9%;
    padding-right: 9%;
}

.dark-div {
    padding-left: 9%;
    padding-right: 9%;
    background-color: #1965e0;
    color: #f1f1f1;
}

.black-div {
    padding-left: 9%;
    padding-right: 9%;
    background-color: black;
    color: #f1f1f1;
}

.div-space {
    padding-bottom: 6%;
    padding-top: 8%;
}

.div-footer {
    padding-bottom: 6%;
    padding-top: 10%;
}

.blue {
    background-color: var(--purple) !important;
    color: #3c50ff;
}

.minion {
    font-family: minionpro-condensed-caption, serif;
    font-style: normal;
    font-weight: 500;
}

.mbold {
    font-family: minion-pro, serif;
    font-style: normal;
    font-weight: 700;
}

@media only screen and (min-width: 1200px) and (min-width: 768px) {
    .top {
        padding-top: 8rem;
    }

    .m {
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .top {
        padding-top: 3rem;
    }

    .m {
        text-align: center;
        padding-left: 5rem;
    }
}

.elisha {
    font-size: 90px;
    font-weight: 600;
    color: #3c50ff !important;
    font-family: 'Lato', sans-serif;
}

#button {
    background-color: #3c50ff !important;
    border: 50px !important;
}

.card-x {
    padding: 2%;
    border-style: none;
    background-color: transparent;
    height: auto;
    min-height: 150px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.card-carousel {
    size: 200px !important;
}

.card-body {
    border: none;

}

.center {
    margin: auto;
    width: 50%;
    border: transparent;
    padding: 10px;
    text-align: center;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.hidden {
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.7, .7)
    }

    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fade-in 1.4s;
}

.b {
    border-style: solid !important;
    border-color: #3c50ff !important;
}

.align {
    vertical-align: bottom;
}

.card-footer {
    padding-left: 0%;
}

.card-title {
    font-weight: 500;
    font-size: 30px;
    color: white;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.card-l {
    border: none;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 13px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 13px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 13px;
}

.btn-outline-primary:active {
    background-color: #fff !important;
    color: #3c50ff !important;
    border-color: #3c50ff !important;
    border-radius: 35px;
}

.btn-outline-primary:hover {
    background-color: #1965e0 !important;
    border-color: #1965e0 !important;
    border-radius: 35px;
}

.container-fluid {
    padding-left: 6%;
    padding-right: 4% !important;
}

.nav-link {
    color: black !important;
    margin-right: 20px !important;
}

.nav-link:hover {
    color: #1965e0 !important;
}

.navbar {
    background-color: white !important;
}

.btn-sm {
    color: black;
    border-radius: 35px;
}

.active {
    color: #3c50ff !important;
}

ion-icon {
    color: #1965e0;
}


/*hover play button*/

.itemsContainer {
    background: white;
    float: left;
    position: relative;
    width: auto;
    height: auto;
    margin-right: auto;
}

.itemsContainer:hover .play {
    display: block;
}

.play {
    position: absolute;
    display: none;
    top: 40%;
    width: 40px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
    opacity: 0.9;
}

.scrolling-active {
    background-color: #f1f1f1;
}

#topRightFixed {
    position: fixed;
    top: 90%;
    left: 95%;
    padding: 0px;
}

.btn-primary-round {
    background-color: #0f071b7a;
    border-color: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.carousel-control-prev {
    background-color: #0f071b7a;
    border-color: none;
    border-radius: 100%;
    height: auto;
    width: auto;
    align-self: center;
}

.btn-nav {
    background-color: transparent !important;
    color: black !important;
    border-color: #3c50ff !important;
    border-width: 2px;
    border-radius: 35px;
    width: 110px;
    padding-left: 100px;
    padding-right: 100px;
}

.btn-nav:hover {
    background-color: #3c50ff !important;
    border-color: #3c50ff !important;
    color: white !important;
}

.btn-primary {
    background-color: #3c50ff;
    border-color: #3c50ff !important;
    border-radius: 35px;
}

.btn-primary-s {
    background-color: #f0655300 !important;
    border-color: #f0655300 !important;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #3b4deb;
    border-color: #3b4deb !important;
}

.btn-primary-s:hover {
    color: #3b4deb;
}

.demo {
    background-color: #fff;
    background-image: radial-gradient(circle, #a6a6a605 20%, transparent 10%), radial-gradient(circle, #a6a6a620 20%, transparent 10%);
    background-size: 8px 8px;
    background-position: 0 0, 100px 100px;
}

.gradient {
    background: rgb(102, 0, 255);
    background: linear-gradient(180deg, rgba(102, 0, 255, 1) 36%, rgba(178, 129, 253, 1) 65%, rgba(251, 251, 251, 1) 88%);
}

.material-icons.md-dark {
    color: rgb(0, 0, 0);
    vertical-align: middle;
}

.material-icons.md-dark:hover {
    color: #3b4deb;
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.obj {
    transition: transform 250ms;
}

.obj:hover {
    transform: translateY(-10px);
}

.btn-outline-secondary {
    border-radius: 35px !important;
}

.btn-outline-secondary:hover {
    color: white;
    border-color: #3b4deb;
    background-color: #3b4deb !important;
}

.btn-outline-white {
    border-color: white;
    color: white;
    border-radius: 35px !important;
}

.btn-outline-white:hover {
    border-color: white;
    color: #3b4deb;
    background-color: white;
}

.xl {
    width: 130px;
    height: 42px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-items>div {
        display: none;
    }

    .carousel-inner .carousel-items>div:first-child {
        display: block;
    }

}

@media (min-width: 1680px) {
    .img-fluid {
        width: 9250000px !important;
    }

    .asset-home-screen {
        padding-bottom: 10% !important;
        padding-top: 5% !important;
        padding-right: 8%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    .elisha {
        font-size: 55px;
    }

    .home-screen {
        padding-bottom: 10% !important;
        padding-top: 50% !important;
    }

    .experience-text {
        max-width: 100% !important;
        padding-bottom: 4% !important;
        font-weight: 400 !important;
    }

    .container-fluid {
        padding-left: 8% !important;
        padding-right: 6% !important;
    }

    .home-screen-button {
        padding-top: 6% !important;
    }

    #topRightFixed {
        visibility: hidden !important;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .asset-home-screen {
        padding-bottom: 20% !important;
        padding-top: 6% !important;
    }

    .marquee_text{
        font-size: 40px !important;
    }
}

.home-screen {
    padding-bottom: 10%;
    padding-top: 20%;
    min-width: 500px;
}

.experience-text {
    max-width: 75%;
    padding-bottom: 2%;
    font-weight: 400;
}

.home-screen-button {
    padding-top: 3%;
}

.asset-home-screen {
    padding-bottom: 10%;
    padding-top: 6%;
}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 2px;
    white-space: nowrap;
    align-items: center;
    --move-initial: calc(-41% + var(--offset));
    --move-final: calc(-49% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 20s linear infinite reverse;
    font-family: 'Bebas Neue', cursive;
    background-color: #1965e0;
    color: white;
}

.marquee span {
    padding: 0 0vw;
}

.marquee_text{
    font-size: 70px;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}



.carousel-inner .carousel-items.active,
.carousel-inner .carousel-items-start,
.carousel-inner .carousel-items-next,
.carousel-inner .carousel-items-prev {
    display: flex;
    transition-duration: 10s;
}

/* display 4 */
@media (min-width: 768px) {

    .carousel-inner .carousel-items-right.active,
    .carousel-inner .carousel-items-next,
    .carousel-items-next:not(.carousel-items-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-items-prev:not(.carousel-items-end),
    .active.carousel-items-start,
    .carousel-items-prev:not(.carousel-items-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-items-next.carousel-items-start,
    .active.carousel-items-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-items-prev,
    .carousel-items-prev:not(.carousel-items-end) {
        transform: translateX(-25%) !important;
    }
}